@import "tinymce/skins/ui/oxide/content.css";
@import "tinymce/skins/content/default/content.css";
@import "perfect-scrollbar/css/perfect-scrollbar.css";
@import "flowbite/dist/flowbite.min.css";
@import "select2/dist/css/select2.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .btn-brand{
        @apply rounded px-6 py-2.5 text-xs font-medium uppercase text-white shadow-md transition duration-150 ease-in-out hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg
    }
}
